{
  "plugins": ["stylelint-plugin-logical-css"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-idiomatic-css",
    "stylelint-config-prettier"
  ],
  "rules": {
    "indentation": 2,
    "at-rule-no-unknown": null,
    "scss/at-extend-no-missing-placeholder": null,
    "no-descending-specificity": null,
    "scss/no-global-function-names": null,
    "scss/comment-no-empty": null,
    "custom-property-pattern": null,

    "plugin/use-logical-properties-and-values": [
      true,
      {
        "severity": "warning",
        "ignore": ["overflow-y", "overflow-x"]
      }
    ],
    "plugin/use-logical-units": [
      true,
      {
        "severity": "warning"
      }
    ]
  }
}
