@layer components {
  .dot-indicators > * {
    --_indicator-opacity: 25%;

    padding: 0.5em;
    border: 0;
    background-color: hsl(var(--clr-white) / var(--_indicator-opacity));
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s ease-in-out;

    &:is(:hover, :focus-visible) {
      --_indicator-opacity: 50%;
    }

    &:is(.is-active, [aria-expanded='true'], [aria-selected='true']) {
      --_indicator-opacity: 100%;
    }
  }

  .number-indicators > * {
    --_indicator-opacity: 25%;
    --_clr: var(--clr-white);
    --_clr-bg: transparent;

    display: grid;
    place-items: center;
    inline-size: 2.5em;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid hsl(var(--clr-white) / var(--_indicator-opacity));
    background-color: var(--_clr-bg);
    color: hsl(var(--_clr));
    transition: border-color 0.25s ease-in-out;

    // @media (--is-mouse) {
    &:is(:hover, :focus-visible) {
      --_indicator-opacity: 100%;
    }
    // }

    &:is(.is-active, [aria-expanded='true'], [aria-selected='true']) {
      --_indicator-opacity: 100%;
      --_clr: var(--clr-dark);
      --_clr-bg: hsl(var(--clr-white));
    }
  }
}
