---
import type { CollectionEntry } from 'astro:content'

import TabsContent from './TabsContent.astro'
import TabsList from './TabsList.astro'
import TabsTrigger from './TabsTrigger.astro'

type Props = {
    items: CollectionEntry<'destinations'>[]
}

const { items } = Astro.props
---

<div class="tabs" tabs-animated-indicator>
    <TabsList>
        {items.map((item, i) => <TabsTrigger id={i} tab={item} />)}
    </TabsList>

    {items.map((item, i) => <TabsContent id={i} panelContent={item} />)}
</div>

<style lang="scss">
    .tabs {
        max-inline-size: inherit;

        display: grid;
        grid-template-areas:
            'image'
            'tablist'
            'tabpanel';

        @media (--until-tablet-l) {
            gap: calc(var(--site-spacing) * 1.5);
            align-self: flex-start;
        }

        @media (--for-tablet-l-up) {
            grid-column: main;
            grid-template-columns: auto 62ch;
            column-gap: calc(var(--site-spacing) * 1.5);
            row-gap: var(--site-spacing);
            grid-template-areas:
                'image  tablist'
                'image  tabpanel';
        }
    }
</style>

<script>
    import { TabbedContent } from '@/scripts/TabbedContent'

    // document.addEventListener('astro:page-load', () => {
    const tabbed = document.querySelectorAll<HTMLElement>('.tabs')
    tabbed.forEach(TabbedContent)
    // })
</script>
