@layer utilities.display {
  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .radius-pill {
    border-radius: var(--radius-pill);
  }

  .radius-round {
    border-radius: var(--radius-round);
  }
}
