@layer utilities.typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  .ff-serif {
    font-family: var(--ff-serif);
  }

  .ff-sans-cond {
    font-family: var(--ff-sans-cond);
  }

  .ff-sans-normal {
    font-family: var(--ff-sans-normal);
  }

  .letter-spacing-fluid {
    letter-spacing: var(--ls-900);
  }

  .letter-spacing-1 {
    letter-spacing: var(--ls-1);
  }

  .letter-spacing-2 {
    letter-spacing: var(--ls-2);
  }

  .letter-spacing-3 {
    letter-spacing: var(--ls-3);
  }

  .uppercase {
    text-transform: uppercase;
  }

  .text-center {
    text-align: center;
  }

  .fs-fluid-900 {
    font-size: var(--fs-fluid-900);
  }

  .fs-fluid-800 {
    font-size: var(--fs-fluid-800);
  }

  .fs-fluid-700 {
    font-size: var(--fs-fluid-700);
  }

  .fs-fluid-600 {
    font-size: var(--fs-fluid-600);
  }

  .fs-fluid-500 {
    font-size: var(--fs-fluid-500);
  }

  .fs-fluid-300 {
    font-size: var(--fs-fluid-300);
  }

  .fs-500 {
    font-size: var(--fs-500);
  }

  .fs-400 {
    font-size: var(--fs-400);

    /* stylelint-disable-next-line number-max-precision */
    line-height: 1.77778;
  }

  .fs-300 {
    font-size: var(--fs-300);
    line-height: 1.5;
  }

  .fs-200 {
    font-size: var(--fs-200);
  }

  .fs-fluid-900,
  .fs-fluid-800,
  .fs-fluid-700,
  .fs-fluid-600,
  .fs-fluid-500 {
    line-height: 1;
  }

  .fw-regular {
    font-weight: 400;
  }

  .fw-bold {
    font-weight: 700;
  }
}
