@use '../functions/fluid' as *;

@layer base.layout {
  .even-columns {
    flex-wrap: wrap;

    > * {
      flex: 1 1 16rem;
    }
  }

  .grid-layout {
    display: grid;
    column-gap: var(--site-spacing);
    row-gap: calc(var(--site-spacing) * 1.5);
    padding-block: #{fluid(24px, 72px, 600px, 1200px)};
    padding-inline: var(--site-spacing);

    > * {
      max-inline-size: 62ch;
    }

    @media (--until-tablet-l) {
      place-items: center;
      text-align: center;
    }

    @media (--for-tablet-l-up) {
      grid-template-columns:
        [fullbleed-start] minmax(0, 1fr)
        [col1-start]
        minmax(0, calc(var(--site-constrain) / 2 - var(--site-spacing) / 2))
        [col1-end col2-start]
        minmax(0, calc(var(--site-constrain) / 2 - var(--site-spacing) / 2)) [col2-end]
        minmax(0, 1fr) [fullbleed-end];
      padding-inline: 0;
    }

    body:is(.home) & {
      padding-block: #{fluid(32px, 56px, 600px, 900px)};

      @media (--for-tablet-l-up) {
        align-items: end;
        padding-block-end: max(6rem, 18vh);

        > :first-child {
          grid-column: 2;
          justify-self: flex-start;
        }

        > :last-child {
          grid-column: 3;
          justify-self: flex-end;
        }
      }
    }

    .numbered-title {
      @media (--for-tablet-p-up) {
        justify-self: flex-start;
      }

      @media (--for-tablet-l-up) {
        grid-column: col1 / col2;
      }
    }
  }

  .meta {
    --flow-space: #{fluid(32px, 56px, 600px, 1200px)};

    display: grid;
    row-gap: 2rem;
    padding-block-start: 2rem;
    border-block-start: 1px solid hsl(var(--clr-white) / 25%);

    @media (--for-tablet-p-up) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
