@use '../functions/fluid' as *;

@layer base.layout {
  .even-columns {
    flex-wrap: wrap;

    > * {
      flex: 1 1 16rem;
    }
  }

  .grid-layout {
    display: grid;
    grid-template-columns:
      [fullbleed-start] minmax(0, 1fr)
      [main-start] minmax(0, min(100% - (var(--site-spacing) * 2))) [main-end]
      minmax(0, 1fr) [fullbleed-end];
    gap: calc(var(--site-spacing) * 1.5) var(--site-spacing);
    padding-block: #{fluid(32px, 56px, 600px, 900px)};

    body:not(.home) & {
      grid-template-rows: auto 1fr;
    }

    body:is(.crew) & {
      padding-block-end: 0;

      @media (--for-tablet-l-up) {
        align-items: stretch;
      }
    }

    > * {
      max-inline-size: 62ch;
    }

    @media (--until-tablet-l) {
      text-align: center;

      body:is(.home) & {
        place-items: center;
      }

      > * {
        grid-column: main;
      }
    }

    @media (--for-tablet-l-up) {
      grid-template-columns:
        [fullbleed-start] minmax(0, 1fr)
        [main-start]
        repeat(2, minmax(0, calc(var(--site-constrain) / 2 - var(--site-spacing) / 2)))
        [main-end]
        minmax(0, 1fr) [fullbleed-end];
      padding-inline: 0;
      align-items: center;

      body:is(.home) & {
        grid-template-rows: 1fr;

        > :first-child {
          grid-column: 2;
          justify-self: flex-start;
        }

        > :last-child {
          grid-column: 3;
          justify-self: flex-end;
        }
      }
    }

    .numbered-title {
      @media (--for-tablet-p-up) {
        justify-self: flex-start;
      }

      @media (--for-tablet-l-up) {
        grid-column: main;
      }
    }
  }
}
