@layer base {
  .lane {
    --contain-size: 69.375rem;
    --site-space: minmax(1.5rem, 1fr);

    display: grid;
    grid-template-columns: var(--site-space) minmax(0, var(--contain-size)) var(--site-space);
    place-content: center;

    > * {
      grid-column: 2;
    }
  }

  .even-columns {
    flex-wrap: wrap;

    > * {
      flex: 1 1 16rem;
    }
  }
}
