@use '../functions/fluid' as *;

@layer base {
  body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: hsl(var(--clr-dark));
    background-image: var(--_bg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(var(--clr-white));
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    /* stylelint-disable-next-line number-max-precision */
    line-height: 1.77778;
  }

  // custom outline
  :is(:focus-visible) {
    outline: none;
    box-shadow: var(--outline);
  }

  .is-locked {
    &,
    body {
      overflow: hidden;
    }
  }
}
