@use '../functions/fluid' as *;

@layer base {
  body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: hsl(var(--clr-dark));
    background-image: var(--_bg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: hsl(var(--clr-white));
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    /* stylelint-disable-next-line number-max-precision */
    line-height: 1.77778;

    &:not(.home) {
      align-items: flex-start;
    }
  }

  // custom outline
  :is(:focus-visible) {
    outline: none;
    box-shadow: var(--outline);
  }
}

@layer base.home {
  .home {
    --_bg: url('../assets/webp/background-home-mobile.webp');

    @media (--for-tablet-p-up) {
      --_bg: url('../assets/webp/background-home-tablet.webp');
    }

    @media (--for-tablet-l-up) {
      --_bg: url('../assets/webp/background-home-desktop.webp');
    }
  }
}

@layer base.destination {
  .destination {
    --_bg: url('../assets/webp/background-destination-mobile.webp');

    @media (--for-tablet-p-up) {
      --_bg: url('../assets/webp/background-destination-tablet.webp');
    }

    @media (--for-tablet-l-up) {
      --_bg: url('../assets/webp/background-destination-desktop.webp');
    }
  }
}

@layer base.crew {
  .crew {
    --_bg: url('../assets/webp/background-crew-mobile.webp');

    @media (--for-tablet-p-up) {
      --_bg: url('../assets/webp/background-crew-tablet.webp');
    }

    @media (--for-tablet-l-up) {
      --_bg: url('../assets/webp/background-crew-desktop.webp');
    }
  }
}

@layer base.technology {
  .technology {
    --_bg: url('../assets/webp/background-technology-mobile.webp');

    @media (--for-tablet-p-up) {
      --_bg: url('../assets/webp/background-technology-tablet.webp');
    }

    @media (--for-tablet-l-up) {
      --_bg: url('../assets/webp/background-technology-desktop.webp');
    }
  }
}
