@use '../functions/fluid' as *;

@layer props {
  :where(html) {
    // colors
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-outline: 330 100% 71%;

    // font-sizes
    --fs-fluid-900: #{fluid(80px, 150px, 600px)};
    --fs-fluid-800: #{fluid(56px, 100px, 600px)};
    --fs-fluid-700: #{fluid(24px, 56px, 600px)};
    --fs-fluid-650: #{fluid(20px, 32px, 600px)};
    --fs-fluid-600: #{fluid(16px, 32px, 600px)};
    --fs-fluid-500: #{fluid(16px, 28px, 600px)};
    --fs-fluid-400: #{fluid(15px, 18px, 600px)};
    --fs-fluid-300: #{fluid(14px, 16px, 600px)};
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    // font-families
    --ff-serif: 'Bellefair', serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;

    // font-weights
    --fw-regular: 400;
    --fw-bold: 700;

    // letter-spacing
    --ls-900: #{fluid(2.7px, 4.75px, 600px)};
    --ls-400: #{fluid(1.25px, 2px, 600px)};

    // outline
    --outline: 0 0 0 3px hsl(var(--clr-outline));

    // radius
    --radius-round: 50%;

    // Main site constrian
    --site-constrain: 69.375rem; // 1110px
    --site-spacing: #{fluid(24px, 40px, 600px, 900px)};
    --logo-size: calc(#{fluid(40px, 48px, 600px, 900px)});
  }
}

@layer props.easings {
  :where(html) {
    --ease: cubic-bezier(0.25, 0, 0.3, 1);
    --ease-in: cubic-bezier(0.7, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.3, 1);
    --ease-in--ease-elastic-out: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  }
}

@layer props.animations {
  :where(html) {
    --animation-fade-in: fade-in 0.5s var(--ease);
    --animation-fade-out: fade-out 0.5s var(--ease);
    --animation-slide-out-right: slide-out-right 0.5s var(--ease);
    --animation-slide-out-left: slide-out-left 0.5s var(--ease);
    --animation-pulse: pulse 2s var(--ease-out) infinite;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0%);
    }
  }

  @keyframes slide-out-left {
    to {
      transform: translateX(0%);
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  @keyframes pulse {
    50% {
      transform: scale(1.25);
    }
  }
}
