@use '../functions/fluid' as *;

@layer props {
  :where(html) {
    // colors
    --clr-dark: 230 35% 7%;
    --clr-ligth: 231 77% 90%;
    --clr-white: 0 0% 100%;

    // font-sizes
    --fs-fluid-900: #{fluid(80px, 150px, 600px)};
    --fs-fluid-800: #{fluid(56px, 100px, 600px)};
    --fs-fluid-700: #{fluid(24px, 56px, 600px)};
    --fs-fluid-600: #{fluid(16px, 32px, 600px)};
    --fs-fluid-500: #{fluid(16px, 28px, 600px)};
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    // font-families
    --ff-serif: 'Bellefair', serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;

    // font-weights
    --fw-regular: 400;
    --fw-bold: 700;

    // letter-spacing
    --ls-900: #{fluid(2.7px, 4.75px, 600px)};
  }
}
