---
import Main from '@components/Main.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Space Tourism | Crew" className="crew">
    <Main class="lane">
        <h1>Crew</h1>
    </Main>
</Layout>
