---
import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import Main from '@components/Main.astro'
import NumberedTitle from '@/components/NumberedTitle.astro'
import Carousel from '@/components/Carousel/Carousel.astro'
import CarouselSnap from '@/components/Carousel/CarouselSnap.astro'
import CrewDetails from '@/components/CrewDetails.astro'

const crew = await getCollection('crew')
---

<Layout title="Space Tourism | Crew" className="crew">
    <Main>
        <NumberedTitle tag="h1" number="02">Meet your crew</NumberedTitle>

        <Carousel>
            {crew.map((member, id) => (
                <CarouselSnap>
                    <CrewDetails props={member} id={id} />
                </CarouselSnap>
            ))}
        </Carousel>
    </Main>
</Layout>

<style>
    @layer base.crew {
        body:is(.crew) {
            --_bg: url('../assets/webp/background-crew-mobile.webp');

            @media (--for-tablet-p-up) {
                --_bg: url('../assets/webp/background-crew-tablet.webp');
            }

            @media (--for-tablet-l-up) {
                --_bg: url('../assets/webp/background-crew-desktop.webp');
            }
        }
    }
</style>
