---
import CrewSliderSafariFix from '@/components/CrewSliderSafariFix.astro'
import NumberedTitle from '@/components/NumberedTitle.astro'
import Main from '@components/Main.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Space Tourism | Crew" className="crew">
    <Main>
        <NumberedTitle tag="h1" number="02">Meet your crew</NumberedTitle>

        <CrewSliderSafariFix />
    </Main>
</Layout>

<style>
    @layer base.crew {
        body:is(.crew) {
            --_bg: url('../assets/webp/background-crew-mobile.webp');

            @media (--for-tablet-p-up) {
                --_bg: url('../assets/webp/background-crew-tablet.webp');
            }

            @media (--for-tablet-l-up) {
                --_bg: url('../assets/webp/background-crew-desktop.webp');
            }
        }
    }
</style>
