---
import NumberedTitle from '@/components/NumberedTitle.astro'
import Cta from '@components/Cta.astro'
import SimpleHeader from '@components/SimpleHeader.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Design system" description="This is an overview of the design system">
    <SimpleHeader title="Design system" />

    <main class="flow lane">
        <div class="flow" id="colors">
            <NumberedTitle tag="h2" number="01">colors</NumberedTitle>

            <div class="flex even-columns" style="--gap: 2rem; --flow-space: 1.5rem">
                <div class="flow" style="--flow-space: 0">
                    <div
                        class="bg-dark text-white ff-serif fs-450"
                        style="padding: 3rem 1rem 1rem; border: 1px solid white"
                    >
                        #0B0D17
                    </div>
                    <p class="ff-sans-normal flex" style="--gap:4rem;--flow-space: 0.5rem">
                        <span class="text-accent">RGB</span> 11, 13, 23
                    </p>
                    <p class="ff-sans-normal flex" style="--gap:4rem">
                        <span class="text-accent">HSL</span> 230°, 35%, 7%
                    </p>
                </div>
                <div class="flow" style="--flow-space: 0">
                    <div
                        class="bg-accent text-dark ff-serif fs-450"
                        style="padding: 3rem 1rem 1rem; border: 1px solid white"
                    >
                        #D0D6F9
                    </div>
                    <p class="ff-sans-normal flex" style="--gap:4rem;--flow-space: 0.5rem">
                        <span class="text-accent">RGB</span> 208, 214, 249
                    </p>
                    <p class="ff-sans-normal flex" style="--gap:4rem">
                        <span class="text-accent">HSL</span> 231°, 77%, 90%
                    </p>
                </div>
                <div class="flow" style="--flow-space: 0">
                    <div
                        class="bg-white text-dark ff-serif fs-450"
                        style="padding: 3rem 1rem 1rem; border: 1px solid white"
                    >
                        #FFFFFF
                    </div>
                    <p class="ff-sans-normal flex" style="--gap:4rem;--flow-space: 0.5rem">
                        <span class="text-accent">RGB</span> 255, 255, 255
                    </p>
                    <p class="ff-sans-normal flex" style="--gap:4rem">
                        <span class="text-accent">HSL</span> 0°, 0%, 100%
                    </p>
                </div>
            </div>
        </div>

        <div class="flow" id="typography" style="--flow-space: 6rem">
            <NumberedTitle tag="h2" number="02">typography</NumberedTitle>

            <div class="flex even-columns" style="--flow-space: 1.5rem; --gap:2rem">
                <div class="flow">
                    <div>
                        <p class="text-accent">Heading 1 - Bellefair Regular - 80/150px</p>
                        <p class="fs-fluid-900 ff-serif uppercase">Earth</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 2 - Bellefair Regular - 56/100px</p>
                        <p class="fs-fluid-800 ff-serif uppercase">Venus</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 3 - Bellefair Regular - 24/56px</p>
                        <p class="fs-fluid-700 ff-serif uppercase">Jupiter & Saturn</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 4 - Bellefair Regular - 16/32px</p>
                        <p class="fs-fluid-600 ff-serif uppercase">Uranus, Neptune, & Pluto</p>
                    </div>
                    <div>
                        <p class="text-accent">
                            Heading 5 - Barlow Condensed Regular - 16/28px - 2.7/4.75 Character
                            Space
                        </p>
                        <p
                            class="fs-fluid-500 ff-sans-cond uppercase letter-spacing-fluid text-accent"
                        >
                            So, you want to travel to space
                        </p>
                    </div>
                </div>

                <div class="flow">
                    <div>
                        <p class="text-accent">Subheading 1 - Bellefair Regular - 28px</p>
                        <p class="fs-500 ff-serif uppercase">384,400 km</p>
                    </div>
                    <div>
                        <p class="text-accent">
                            Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space
                        </p>
                        <p class="fs-200 ff-sans-cond letter-spacing-3">Avg. Distance</p>
                    </div>
                    <div>
                        <p class="text-accent">
                            Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space
                        </p>
                        <p class="fs-300 ff-sans-cond letter-spacing-2">Europa</p>
                    </div>
                    <div>
                        <p class="text-accent">Body Text</p>
                        <p class="ff-sans-normal">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                            hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
                            vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
                            laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
                            nibh. Nullam mollis. Ut justo. Suspendisse potenti.Lorem ipsum dolor sit
                            amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                            aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
                            vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor
                            libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut
                            justo. Suspendisse potenti.Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
                            urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flow" id="interactive-elements" style="--flow-space: 6rem">
            <NumberedTitle tag="h2" number="03">Interactive elements</NumberedTitle>

            <!-- navigation -->
            <div class="flow" style="--flow-space: 1.5rem">
                <nav class="demo-nav">
                    <ul
                        class="nav-list line-indicators flex fs-300"
                        style="--underline-gap: 2.5rem"
                    >
                        <li>
                            <a class="uppercase text-white letter-spacing-2 is-active" href="/">
                                <span class="fw-bold" aria-hidden="true">00</span>Active
                            </a>
                        </li>
                        <li style="--_indicator-opacity: 50%">
                            <a class="uppercase text-white letter-spacing-2" href="/">
                                <span class="fw-bold" aria-hidden="true">01</span>Hovered
                            </a>
                        </li>
                        <li>
                            <a class="uppercase text-white letter-spacing-2" href="/">
                                <span class="fw-bold" aria-hidden="true">02</span>Idle
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="text-accent text-center" style="--flow-space: 1rem">
                    Different States of Navigation Bar
                </p>
            </div>

            <div class="flex even-columns" style="align-items: flex-start; --gap: 4rem">
                <div class="grid flow demo" style=" --gap: 1rem">
                    <div class="flow">
                        <Cta url="/" label="explore" />
                        <p class="text-accent text-center" style="--flow-space: 0.75rem">
                            Landing Page Main Button - Idle
                        </p>
                    </div>

                    <div class="flow" style="--flow-space: 4rem">
                        <Cta url="/" label="explore" style="--_hover-size: 1.5" />
                        <p class="text-accent text-center">Landing Page Main Button - Hover</p>
                    </div>
                </div>

                <div class="grid flow demo" style=" --gap: 1rem">
                    <div class="flow">
                        <div class="line-indicators flex fs-300" style="--gap: 2rem">
                            <button
                                class="uppercase text-accent letter-spacing-2"
                                aria-expanded="true"
                            >
                                Moon
                            </button>
                            <button
                                class="uppercase text-accent letter-spacing-2"
                                aria-expanded="false"
                                style="--_indicator-opacity: 50%"
                            >
                                Mars
                            </button>
                            <button
                                class="uppercase text-accent letter-spacing-2"
                                aria-expanded="false"
                            >
                                Europa
                            </button>
                        </div>
                        <p class="text-accent text-center" style="--flow-space: 1rem">
                            Tabs (Active, Hover, & Idle)
                        </p>
                    </div>

                    <div class="flow">
                        <div class="dot-indicators flex demo">
                            <button aria-expanded="true">
                                <span class="sr-only">Slide title</span>
                            </button>
                            <button aria-expanded="false" style="--_indicator-opacity: 50%">
                                <span class="sr-only">Slide title</span>
                            </button>
                            <button aria-expanded="false">
                                <span class="sr-only">Slide title</span>
                            </button>
                        </div>
                        <p class="text-accent text-center" style="--flow-space: 1rem">
                            Slider 1 States (Active, Hover, & Idle)
                        </p>
                    </div>

                    <div class="flow">
                        <div class="number-indicators grid demo">
                            <button class="fs-fluid-600 ff-serif radius-round" aria-expanded="true">
                                1</button
                            >
                            <button
                                class="fs-fluid-600 ff-serif radius-round"
                                aria-expanded="false"
                            >
                                2</button
                            >
                            <button
                                class="fs-fluid-600 ff-serif radius-round"
                                aria-expanded="false"
                            >
                                3</button
                            >
                        </div>
                        <p class="text-accent text-center" style="--flow-space: 1rem">
                            Slider 2 States (Active, Hover, & Idle)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    @layer design-system {
        body {
            padding-block-end: 3rem;
        }

        .lane {
            display: grid;
            grid-template-columns:
                minmax(var(--site-spacing), 1fr)
                minmax(0, var(--site-constrain))
                minmax(var(--site-spacing), 1fr);
            place-content: center;

            > * {
                grid-column: 2;
            }
        }

        .fs-450 {
            font-size: 1.5rem;
        }

        .demo-nav {
            padding-block-start: 2.5rem;
            background-color: hsl(var(--clr-white) / 4%);

            .nav-list {
                padding: 0;
                margin: 0;
                list-style: none;

                a {
                    text-decoration: none;
                }

                [aria-hidden='true'] {
                    margin-inline-end: 0.75em;

                    @media (--until-tablet-l) {
                        display: none;
                    }
                }
            }

            > ul {
                --gap: clamp(1rem, -4.6rem + 22.4vw, 8rem);

                justify-content: center;
            }
        }

        .demo {
            justify-content: center;
        }
    }
</style>
