---
import Main from '@components/Main.astro'
import TabList from '@components/TabList.astro'
import TabList2 from '@components/TabList.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Space Tourism | Destination" className="destination">
    <Main transition:animate="slide">
        <h1 class="numbered-title">
            <span aria-hidden="true">01</span> Pick your destination
        </h1>

        <TabList />
    </Main>
</Layout>

<style>
    @layer base.destination {
        body:is(.destination) {
            --_bg: url('../assets/webp/background-destination-mobile.webp');

            @media (--for-tablet-p-up) {
                --_bg: url('../assets/webp/background-destination-tablet.webp');
            }

            @media (--for-tablet-l-up) {
                --_bg: url('../assets/webp/background-destination-desktop.webp');
            }
        }
    }
</style>
