---
import Main from '@components/Main.astro'
import Tabs from '@/components/Tabs/Tabs.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import NumberedTitle from '@/components/NumberedTitle.astro'

const destinations = await getCollection('destinations')
---

<Layout title="Space Tourism | Destination" className="destination">
    <Main transition:animate="slide">
        <NumberedTitle tag="h1" number="01">Pick your destination</NumberedTitle>

        <Tabs items={destinations} />
    </Main>
</Layout>

<style>
    @layer base.destination {
        body:is(.destination) {
            --_bg: url('../assets/webp/background-destination-mobile.webp');

            @media (--for-tablet-p-up) {
                --_bg: url('../assets/webp/background-destination-tablet.webp');
            }

            @media (--for-tablet-l-up) {
                --_bg: url('../assets/webp/background-destination-desktop.webp');
            }
        }
    }
</style>
