---
import Main from '@components/Main.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Astro." image="/logo.svg">
    <Main>
        <h1>Hello</h1>
    </Main>
</Layout>
