---
import NumberedTitle from '@/components/NumberedTitle.astro'
import Main from '@components/Main.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Space Tourism | Technology" className="technology">
    <Main>
        <NumberedTitle tag="h1" number="03">Space Launch 101</NumberedTitle>
    </Main>
</Layout>

<style>
    @layer base.technology {
        body:is(.technology) {
            --_bg: url('../assets/webp/background-technology-mobile.webp');

            @media (--for-tablet-p-up) {
                --_bg: url('../assets/webp/background-technology-tablet.webp');
            }

            @media (--for-tablet-l-up) {
                --_bg: url('../assets/webp/background-technology-desktop.webp');
            }
        }
    }
</style>
