---
type Props = {
    url: string
    label: string
    style?: string
}

const { url, label, style } = Astro.props
---

<a href={url} class="uppercase" {style}>{label}</a>

<style lang="scss">
    @use 'src/scss/functions/fluid' as *;

    a {
        --_hover-size: 1;

        position: relative;
        display: inline-grid;
        background-color: hsl(var(--clr-white));
        color: hsl(var(--clr-dark));
        font-family: var(--ff-serif);
        font-size: var(--fs-fluid-650);
        letter-spacing: var(--ls-400);
        text-decoration: none;
        place-items: center;
        inline-size: #{fluid(152px, 272px, 600px, 1200px)};
        aspect-ratio: 1;
        border-radius: 50%;
        isolation: isolate;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            background-color: hsl(var(--clr-white) / 10%);
            inset: 0;
            border-radius: inherit;
            scale: var(--_hover-size);
            transition: scale 0.25s ease;
            pointer-events: none;
        }

        &:is(:hover, :focus-visible) {
            --_hover-size: 1.5;

            &::after {
                animation: var(--animation-pulse);
            }
        }

        &:is(:focus-visible) {
            outline: none;
            box-shadow: var(--outline);
        }
    }
</style>
