---
import Logo from '@/icons/logo.svg'
import Navigation from './Navigation.astro'
---

<header>
    <div class="logo">
        <a href="/">
            <Logo width={48} height={48} aria-hidden />
            <span class="sr-only">Back to homepage</span>
        </a>
    </div>

    <Navigation />
</header>

<style lang="scss">
    @use '@styles/functions/fluid' as *;

    header {
        --_logo-space: calc(var(--site-spacing) + var(--logo-size));
        --_overlap-cols: #{fluid(16px, 40px, 900px, 1400px)};

        display: grid;
        grid-template-columns:
            minmax(
                var(--_logo-space),
                calc(50vw - ((var(--site-constrain) / 2) + var(--site-spacing)))
            )
            minmax(0, 1fr)
            var(--_overlap-cols)
            auto
            calc(50vw - ((var(--site-constrain) / 2) + var(--site-spacing)));
        column-gap: var(--site-spacing);
        margin-block-start: var(--site-spacing);

        @media (--for-tablet-p-up) and (--until-tablet-l) {
            margin-block-start: 0;
        }

        @media (--for-tablet-p-up) {
            &::before,
            &::after {
                content: '';
                grid-row: 1;
            }

            &::after {
                grid-column: 3 / -1;
                background-color: hsl(var(--clr-white) / 4%);
                backdrop-filter: blur(1rem);
                z-index: -1;
            }
        }

        @media (--for-tablet-l-up) {
            &::before {
                grid-column: 2 / 4;
                block-size: 1px;
                align-self: center;
                background-color: hsl(var(--clr-white) / 25%);
            }
        }
    }

    .logo {
        grid-row: 1;
        grid-column: 1;
        place-self: center;
        margin-inline-end: calc(var(--site-spacing) * -1);

        > a {
            display: grid;

            > svg {
                block-size: var(--logo-size);
                inline-size: var(--logo-size);
            }
        }
    }
</style>
