---
import Navigation from './Navigation.astro'
---

<header>
    <a href="/" class="logo">
        <svg
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            ><g fill="none" fill-rule="evenodd"
                ><circle cx="24" cy="24" r="24" fill="#FFF"></circle><path
                    fill="#0B0D17"
                    d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"
                ></path></g
            ></svg
        >
        <span class="sr-only">Back to homepage</span>
    </a>

    <Navigation />
</header>

<style lang="scss">
    @use 'src/scss/functions/fluid' as *;

    header {
        --_logo-space: calc(var(--site-spacing) + var(--logo-size));
        --_overlap-cols: #{fluid(16px, 40px, 900px, 1400px)};

        display: grid;
        grid-template-columns:
            minmax(
                var(--_logo-space),
                calc(50vw - ((var(--site-constrain) / 2) + var(--site-spacing)))
            )
            minmax(0, 1fr)
            var(--_overlap-cols)
            auto
            calc(50vw - ((var(--site-constrain) / 2) + var(--site-spacing)));
        column-gap: var(--site-spacing);
        margin-block-start: var(--site-spacing);

        @media (--for-tablet-p-up) and (--until-tablet-l) {
            margin-block-start: 0;
        }

        @media (--for-tablet-p-up) {
            &::before,
            &::after {
                content: '';
                grid-row: 1;
            }

            &::after {
                grid-column: 3 / -1;
                background-color: hsl(var(--clr-white) / 4%);
                backdrop-filter: blur(1rem);
                z-index: -1;
            }
        }

        @media (--for-tablet-l-up) {
            &::before {
                grid-column: 2 / 4;
                block-size: 1px;
                align-self: center;
                background-color: hsl(var(--clr-white) / 25%);
            }
        }
    }

    .logo {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        place-items: center;
        margin-inline-end: calc(var(--site-spacing) * -1);

        > * {
            inline-size: var(--logo-size);
            block-size: var(--logo-size);
        }
    }
</style>
