---
import { Image } from 'astro:assets'
import Navigation from './Navigation.astro'
---

<header>
    <a href="/" class="logo">
        <Image src="/logo.svg" width={48} height={48} alt="" />
        <span class="sr-only">Back to homepage</span>
    </a>

    <Navigation />
</header>

<style lang="scss">
    header {
        --_logo-space: calc(var(--site-spacing) * 2 + var(--logo-size));

        display: grid;
        grid-template-columns:
            [fullbleed-start] minmax(var(--_logo-space), 1fr)
            [main-start] min(
                100% - (var(--_logo-space) + var(--site-spacing)),
                var(--site-constrain)
            )
            [main-end]
            minmax(var(--site-spacing), 1fr) [fullbleed-end];
        align-items: center;
        margin-block-start: var(--site-spacing);

        @media (--for-tablet-p-up) {
            margin-block-start: 0;
        }

        @media (--for-tablet-l-up) {
            margin-block-start: var(--site-spacing);
        }
    }

    .logo {
        grid-column: 1;
        display: grid;
        place-items: center;
        margin-inline: auto;

        > img {
            inline-size: var(--logo-size);
            block-size: var(--logo-size);
        }
    }
</style>
