---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"
const inActveClass = 'uppercase text-white letter-spacing-2'
const activeClass = 'uppercase text-white letter-spacing-2 is-active'
---

<nav>
    <ul class="nav-list line-indicators flex fs-300" style="--underline-gap: 2.5rem">
        <li>
            <a class={currentPath === '' ? activeClass : inActveClass} href="/">
                <span class="fw-bold" aria-hidden="true">00</span>Home
            </a>
        </li>
        <li>
            <a
                class={currentPath === 'destination' ? activeClass : inActveClass}
                href="/destination"
            >
                <span class="fw-bold" aria-hidden="true">01</span>Destination
            </a>
        </li>
        <li>
            <a class={currentPath === 'crew' ? activeClass : inActveClass} href="/crew">
                <span class="fw-bold" aria-hidden="true">02</span>Crew
            </a>
        </li>
        <li>
            <a class={currentPath === 'technology' ? activeClass : inActveClass} href="/technology">
                <span class="fw-bold" aria-hidden="true">03</span>Technology
            </a>
        </li>
    </ul>
</nav>

<style lang="scss">
    @use 'src/scss/functions/fluid' as *;

    nav {
        grid-column: main;
        display: grid;
        position: relative;

        @media (--for-tablet-l-up) {
            grid-template-columns: 1fr #{fluid(16px, 40px, 900px, 1400px)} auto;

            &::before {
                grid-row: 1;
                grid-column: 1 / 3;
                z-index: 1;
                content: '';
                align-self: center;
                height: 1px;
                background-color: hsl(var(--clr-white) / 25%);

                @media (width < 81.25em) {
                    margin-inline-start: calc(var(--site-spacing) * 2);
                }
            }
        }
    }

    ul {
        grid-row: 1;
        grid-column: 2 / -1;
        justify-self: flex-end;
        margin: 0;
        padding-inline-start: var(--site-spacing);
        gap: var(--site-spacing);
        position: relative;
        list-style: none;

        &::after {
            position: absolute;
            inset: 0;
            content: '';
            inline-size: 100vw;
            background-color: hsl(var(--clr-white) / 4%);
            backdrop-filter: blur(1rem);
            z-index: -1;
        }

        a {
            padding-block-start: var(--underline-gap);
            text-decoration: none;
        }

        [aria-hidden='true'] {
            margin-inline-end: 0.75em;

            @media (--until-tablet-l) {
                display: none;
            }
        }

        @media (--for-tablet-l-up) {
            gap: #{fluid(40px, 56px, 900px, 1400px)};
            padding-inline-start: #{fluid(40px, 120px, 900px, 1400px)};
        }
    }
</style>
