---
interface Props {
    title: string
    number: string
}

const { title, number } = Astro.props
---

<h2>
    <span>{number}</span>
    {title}
</h2>

<style lang="scss">
    h2 {
        font-family: var(--ff-sans-cond);
        font-size: var(--fs-fluid-500);
        letter-spacing: var(--ls-900);
        text-transform: uppercase;

        > span {
            margin-inline-end: 0.5em;
            color: hsl(var(--clr-white) / 25%);
            font-weight: var(--fw-bold);
        }
    }
</style>
