---
import '@styles/global.scss'
import { AstroFont } from 'astro-font'

interface Props {
    title?: string
    description?: string
    className?: string
}

const {
    title = 'Space Travel',
    description = 'This is about going to space',
    className,
} = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <AstroFont
            config={[
                {
                    src: [],
                    name: 'Barlow',
                    preload: false,
                    display: 'swap',
                    fallback: 'sans-serif',
                    cssVariable: 'ff-sans-normal',
                    googleFontsURL: 'https://fonts.googleapis.com/css?family=Barlow:wght@400',
                },
                {
                    src: [],
                    preload: true,
                    display: 'swap',
                    name: 'Bellefair',
                    fallback: 'serif',
                    cssVariable: 'ff-serif',
                    googleFontsURL: 'https://fonts.googleapis.com/css?family=Bellefair',
                },
                {
                    src: [],
                    preload: false,
                    display: 'swap',
                    fallback: 'sans-serif',
                    name: 'Barlow Condensed',
                    cssVariable: 'ff-sans-cond',
                    googleFontsURL:
                        'https://fonts.googleapis.com/css?family=Barlow+Condensed:wght@400,700',
                },
            ]}
        />
    </head>
    <body class=`${className}`>
        <slot />
    </body>
</html>
