---
import '@styles/global.scss'
import '@fontsource/barlow/latin-400.css'
import '@fontsource/barlow-condensed/latin-400.css'
import '@fontsource/barlow-condensed/latin-700.css'
import '@fontsource/bellefair/latin.css'

import { ViewTransitions } from 'astro:transitions'

interface Props {
    title?: string
    description?: string
    className?: string
}

const {
    title = 'Space Travel',
    description = 'This is about going to space',
    className,
} = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class=`${className}`>
        <slot />
    </body>
</html>
